<div class="profile">
    {{- with .Site.Params.profileMode }}
    <div class="profile_inner">
        <div class="hero">
            <img src="images/fragment-rond.svg" alt="fragment rond">
            <h3>Rassembler nos fragments d'histoires pour reconstituer notre mémoire collective</span>
        </div>

        <iframe style="aspect-ratio: 16/9; width: 100%;" src="https://www.youtube.com/embed/TFlUzcj_qd4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <h1>{{ .title | default $.Site.Title | markdownify }}</h1>

        {{- with .buttons }}
        <div class="buttons">
            {{- range . }}
            <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name | title }}">
                <span class="button-inner">{{ .name | title }}</span>
            </a>
            {{- end }}
        </div>
        {{- end }}

        <div class="profile-description">{{ .description | markdownify }}</div>

        <a class="profile-about-link" href="/presentation">En savoir plus</a>

        {{- partial "social_icons.html" $.Site.Params.socialIcons -}}
    </div>
    {{- end}}
</div>
